<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IClaimService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51387/ClaimService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IClaimService" contract="MitchellClaimWSReference.IClaimService"
                name="BasicHttpBinding_IClaimService" />
        </client>
    </system.serviceModel>
</configuration>